@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    // Typography
    --Lexend-Deca: 'Lexend Deca', sans-serif;
    --Big-Shoulders-Display: 'Big Shoulders Display', cursive;
    // Colors
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    // Paragraph
    --paragraphs-white: hsla(0, 0%, 100%, 0.75);
    // (background, headings, buttons)
    --very-light-gray: hsl(0, 0%, 95%);

}

// RESET STYLES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 15px;
    color: var(--paragraphs-white);
}

a {
    border: 0;
    outline: none;
    font-size: 15px;
}

// main styles

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// card wrapper
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 8px;
    width: 921px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.card-item {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .card__item-details {
        display: flex;
        flex-direction: column;
        gap: 36px;
        font-family: var(--Big-Shoulders-Display);
        text-transform: uppercase;

        img {
            width: fit-content;
        }

        .card__item-title {
            font-size: 40px;
            color: var(--very-light-gray);
        }

        .card__item-text {
            font-family: var(--Lexend-Deca);
            line-height: 24px;
            text-transform: none;
            margin-top: -10px;
        }
    }

    .card__item-footer {
        padding-bottom: 10px;

        a {
            padding: 12px 32px;
            font-family: var(--Lexend-Deca);
            background-color: white;
            border-radius: 42px;
            letter-spacing: 0.5;
            text-decoration: none;
            transition: all 300ms;
            border: 2px solid white;


        }
    }
}



.item-sedans {
    background-color: var(--Bright-orange);

    a {
        border-color: white;
        color: var(--Bright-orange);

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.item-suvs {
    background-color: var(--Dark-cyan);

    a {
        border-color: white;
        color: var(--Dark-cyan);

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.item-luxury {
    background-color: var(--Very-dark-cyan);

    a {
        border-color: white;
        color: var(--Very-dark-cyan);

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

@media screen and (max-width:991px) {
    main {
        padding: 36px 20px;
    }

    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);

        .card-item {
            gap: 45px;

            .card__item-details {
                gap: 45px;


            }
        }

    }

}

@media screen and (max-width:550px) {
    main {
        padding: 90px 20px;
    }

    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);


    }

}


footer {
    font-size: 11px;
    text-align: center;
    font-family: var(--Lexend-Deca);
    padding: 16px;
    background-color: var(--Dark-cyan);
    color: white;

    a {
        color: var(--Bright-orange);
        font-size: 11px;
    }
}